# .env.example
# Бұл файлды .env деп көшіріп, мәндерін толтырыңыз
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/analytical_dashboard?schema=public"
NEXTAUTH_SECRET="cursor-cloud-dev-secret-key-2026"
NEXTAUTH_URL="http://localhost:3000"
